*{
    padding: 0;
    margin: 0; 
}
body{
    width: 98%;
}

.circle{
     position: relative;
     border-radius: 200px;    
     height: 260px;
     width: 260px;
     background-image: url("koko.JPG");
     background-size: cover;
     background-position: center;
     margin-left: 4%; 
     top: 25px;

 }
.owner h2{
    
    margin: -200px 0px 0px 500px; 
    color: white;
    font-family: cursive;
  
}
.owner h4{
    margin: -174px 0px 0px 455px; 
    color: white;
    font-family: cursive;

}
 
header{
    
    height: 100%;
    width: 100%;
   
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    background-color: rgb(84, 199, 199);
    height: 330px;
}

.sect{
    
    clip-path: polygon(0 16%, 232% 0%, 100% 100%, 0% 100%);
    background-color: rgb(46, 43, 43);
    height: 1111px;
    width: 46%;
    margin-top: -172px;
    
}
/* .contain{
    display: flex;
    flex-flow: wrap;
} */
#bubb{
    border-radius: 200px;    
     height: 62px;
     width: 188px;
     background-color: rgb(84, 199, 199);
     margin-left: 65%;
     margin-top: -79%;
}
#bubb h2{
    position:relative;
    color: white;
    font-family: cursive;
    left: 35px;
    top: 11px;
}
#bubb1{
    position: relative;
    border-radius: 200px;    
     height: 62px;
     width: 188px;
     background-color: rgb(84, 199, 199);
     left: 65%;
     top: 289px;
}
#bubb1 h2{
    position:relative;
    color: white;
    font-family: cursive;
    left: 35px;
    top: 11px;
}
#bubb2{
    position: relative;
    border-radius: 200px;    
     height: 62px;
     width: 188px;
     background-color: rgb(84, 199, 199);
     left: 65%;
     top: 490px;
}
#bubb2 h2{
    position:relative;
    color: white;
    font-family: cursive;
    left: 53px;
    top: 11px;
}

.sect h2, h4{
    position: relative;
    top: 193px;
    color: white;
    font-family: cursive;
    left : 47px;
}
img{
    position: relative;
    left: 81px;
    top: 210px;
}
.sz{
    width: 70px;
    height: 70px;
    left: 70px;
}
#exp h4{

    position: absolute;
    left: 57%;
    top: 60%;
    color: black;
    width: 46%;
}
#edu h4{

    position: absolute;
    left: 57%;
    top: 126%;
    color: black;
    width: 46%;
}
#skill h4{

    position: absolute;
    left: 59%;
    top: 169%;
    color: black;
    width: 46%;
}
#bb{
    width: 70px;
    height: 70px;
    left: 70px;
}
#bk{
    width: 70px;
    height: 70px;
    left: 70px;
}

/* @media{

} */